<ion-view title="YoKo" id="page1">
  <ion-content padding="true" class="has-header">
    <h4 id="yoKo-heading1" style="color:#000000;font-weight:300;">Your Own Kitchen</h4>
    <div>
      <img src="img/enGeKXEATy2TXId0x6fc_8fec305fe5b038d17c0296e65706f011.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="yoKo-heading2" style="color:#000000;font-weight:300;text-align:center;">Wherever you go</h4>
    <div>
      <img src="img/CDQPKCbRQ1ShzrT7cpWg_GoogleMapTA.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>